.link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    background-color: rgb(158, 154, 154);
    border-radius: 1rem;
    overflow: hidden;
    background-image: linear-gradient(to right, #fromColor, #toColor);
    /* ここに紫色とピンク色のスタイルを追加 */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}