.header {
    background-color: #1a202c; /* Tailwind の bg-gray-900 に対応 */
    padding-top: 1.25rem; /* Tailwind の py-5 に対応 */
    padding-bottom: 1.25rem; /* Tailwind の py-5 に対応 */
    display: flex; /* Tailwind の flex に対応 */
    justify-content: center;
}

.font {
    color: #ffffff; /* Tailwind の text-white に対応 */
    font-size: 1.5rem; /* Tailwind の text-2xl に対応 */
    font-weight: bold; /* Tailwind の font-bold に対応 */
    /* ホバー時のスタイル */
    transform: scale(1.1); /* Tailwind の hover:scale-110 に対応 */
    transition-duration: 500ms; /* Tailwind の duration-500 に対応 */
    }


